// ----------------------
// Colors
// ----------------------
$color-main: #D84727;
$color-main-hover: #D93F3F;

$color-off-black: #333333;
$color-grey: #777777;

$color-bg-light: #F1DDC9;
$color-bg: #DA5E42;
$color-bg-dark: #D84727;
$color-off-white: #F7F6F4;

